*{
    font-family: 'Comic Sans MS';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#preloader {
    background: #111827 no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

@media screen and (max-width: 600px) {
    body, html {
        overflow-x: hidden;

    }   
}

#home {
    animation: fadeIn 2s ease-in-out;
    animation-delay: 1500ms;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  